/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
============================================
BACKGROUND COLOR
============================================
*/

body {
    font-family: Helvetica Neue, sans-serif;
    font-size: 0.875rem;
    line-height: 1.43;
    color: #222222;
    background-color:white;
    margin: 0;
}

/*
========================================
TEXT
========================================
*/

.headerText {	
	font-family: Helvetica Neue, sans-serif;
	color: #222222;
	font-weight: bold;
	padding-left: 10px;
}

.pastExperincesHeader {
	font-size: 32px;
}

.iffgHeader {
	font-size: 22px;
}

.bolded {
    font-weight: bold;
}

/*
========================================
CONTAINERS
========================================
*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

.container {
    position: relative;
    margin: 0 auto;
	width: auto;   
    padding: 30px 30px;    	
}

.lmaiCont {
	display: block;
	font-size: 15px;
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	background: #DDDDDD;
	padding: 30px;
}

.topCont {
	position:fixed;
	margin: 0 auto;
	width: auto;
	padding: 30px;
	top: 60px;
}

.headerCont {
	border: 1px solid #dfe2e5;
	background: #fff;
	height: 300px;
	border-radius: 30px 30px 0px 0px;
}

.footerCont{
	background: #f7f7f7;
	border-bottom: 1px solid lightgrey;
}

.InspFFG {	
	height: 429px;
}

.supportCont {
	height: 258.09px;
}

.bottomCont {
	height: 216px;
}

.belowTopSearchBar {
	position: absolute;
	top: 50%;
    left: auto;
}

/*
============================================
GRIDS
============================================
*/

.mainGrid{
	display: grid;

}

.topNavBar {	
	background-color: white;
	grid-template-columns: auto auto auto auto auto auto auto;
	grid-template-rows: auto auto;
	column-gap:70px
}

.bottomGrid {
	padding: 10px;
	gap: 10px;
}

.iffgTopNavGrid {
	grid-template-columns: auto auto auto auto auto auto auto auto auto;
}

.iffgMainNavGrid{
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto auto;
}

.supportGrid {
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto auto auto auto;
}

.a1 {
	grid-column: 1;
	grid-row: 1;
}
.b1	{
	grid-column: 2;
	grid-row: 1;
}
.c1 {
	grid-column: 3;
	grid-row: 1;
}
.d1 {
	grid-column: 4;
	grid-row: 1;
}
.e1 {
	grid-column: 5;
	grid-row: 1;
}
.f1 {
	grid-column: 6;
	grid-row: 1;
}
.g1 {
	grid-column: 7;
	grid-row: 1;
}
.h1 {
	grid-column: 8;
	grid-row: 1;
}

.a2 {
	grid-column: 1;
	grid-row: 2;
}
.b2{
	grid-column: 2;
	grid-row: 2;
}
.c2 {
	grid-column: 3;
	grid-row: 2;
}
.d2 {
	grid-column: 4;
	grid-row: 2;
}
.e2 {
	grid-column: 5;
	grid-row: 2;
}
.f2 {
	grid-column: 6;
	grid-row: 2;
}
.g2 {
	grid-column: 7;
	grid-row: 2;
}
.a3 {
	grid-column: 1;
	grid-row: 3;
}
.b3 {
	grid-column: 2;
	grid-row: 3;
}

.a4 {
	grid-column: 1;
	grid-row: 4;
}
.b4 {
	grid-column: 2;
	grid-row: 4;
}
.a5 {
	grid-column: 1;
	grid-row: 5;
}
.a6 {
	grid-column: 1;
	grid-row: 6;
}
.a7 {
	grid-column: 1;
	grid-row: 7;
}

/*
=======================================
FLEXBOX
=======================================
*/

.flexContainer {
	display: flex;
	flex-direction:column;
	align-items: center;
}

.buttonFlex {
	display: flex;
	flex-direction:row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	row-gap: 10px;
}
	

/*
========================================
Links
========================================
*/

a {
	color: #3c3f3f;
	text-decoration: none;
}

a:hover {
	color: #a9b2b9;
}

/*
========================================
Buttons
========================================
*/

.btn {
    position: absolute;
    top: 10%;
    left: 30%;
    width: 800px;
    border: 1px solid #dfe2e5;
	padding: 10px 30px;
	border-radius: 50px;   
	color: rgb(22, 22, 22);
	cursor: pointer;   
	display: inline-block;
    margin: auto;
	font-weight: 400;
	letter-spacing: .5px;
}

.searchBtn {
	background: #fff;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button {
	position: relative;
	height:20px;
	width:200px;
	padding: 0 40px;
	margin: 0;
}





