/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
============================================
BACKGROUND COLOR
============================================
*/

body {
    font-family:    Helvetica Neue, sans-serif;
    font-size:  0.875rem;
    line-height:    1.43;
    color   #222222;
    background-color:lightgrey;
    margin: 0;
}

/*
========================================
Grid
========================================
*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

.container {
    position: relative;
    margin: 0 auto;
	width: auto;
    height: 300px;
    padding: 30px 30px;
    border: 1px solid #dfe2e5;
	border-radius: 30px 30px 0px 0px;
    background: #fff;
}

.belowTopSearchBar {
	position: absolute;
	top: 50%;
    left: auto;
}

.topNavBar {
	display: grid;
	background-color: white;
	grid-template-columns: auto auto auto auto auto auto auto;
	grid-template-rows: auto auto;
	column-gap:70px
}

.a1 {
	grid-column: 1;
	grid-row: 1;
}
.b1{
	grid-column: 2;
	grid-row: 1;
}
.c1 {
	grid-column: 3;
	grid-row: 1;
}
.d1 {
	grid-column: 4;
	grid-row: 1;
}
.e1 {
	grid-column: 5;
	grid-row: 1;
}
.f1 {
	grid-column: 6;
	grid-row: 1;
}
.g1 {
	grid-column: 7;
	grid-row: 1;
}

.a2 {
	grid-column: 1;
	grid-row: 2;
}
.b2{
	grid-column: 2;
	grid-row: 2;
}
.c2 {
	grid-column: 3;
	grid-row: 2;
}
.d2 {
	grid-column: 4;
	grid-row: 2;
}
.e2 {
	grid-column: 5;
	grid-row: 2;
}
.f2 {
	grid-column: 6;
	grid-row: 2;
}
.g2 {
	grid-column: 7;
	grid-row: 2;
}



/*
========================================
Links
========================================
*/
a {
	color: #3c3f3f;
	text-decoration: none;
}

a:hover {
	color: #a9b2b9;
}

.iconsLink {
    padding: 20px 50px;
    text-align: center;
    text-decoration: underline;
}

/*
========================================
Buttons
========================================
*/

.btn {
    position: absolute;
    top: 10%;
    left: 30%;
    width: 800px;
    border: 1px solid #dfe2e5;
	padding: 10px 30px;
	border-radius: 50px;
    background: #fff;
	color: #a19d9d;
	cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	display: inline-block;
    margin: 0 auto;
	font-weight: 400;
	letter-spacing: .5px;
}

.bolded {
    font-weight: bold;
}
